</div>
</div>
<footer>
    <p class="text-right" ><small>Copyright ©2017</small><span> hx2heng.com </span></p>
    <p class="text-right" > <a href="http://www.miitbeian.gov.cn"> 粤ICP备17041582号-1 </a> | <a href="/article/docs?content=about"> 关于本站 </a>| <a href="/article/docs?content=contact"> 联系我 </a> </p>
</footer>
</body>

</html>