<div class="admin-list  animated slideInDown">
    <div class="col-md-2 col-md-offset-10">
        <button type="button" class="btn btn-success btn-block btn-create">新建</button>
    </div>
    <div class="col-md-12 table-responsive">
        <table class="table">
            <caption>已发布文章</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>文章标题</th>
                    <th>标签</th>
                    <th>发布日期</th>
                    <th>作者</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
</div>

<div class="admin-form">
    <form method="post" action="createArticle">
        <div class="form-group">
            <label for="articleTitle">标题</label>
            <input type="text" class="form-control" id="articleTitle" name="articleTitle" placeholder="标题" required>
        </div>
        <div class="form-group">
            <label for="articleTags">文章标签：</label>

            <div class="tag-panel">
                <div class="tags">
                    <input type="checkbox" name="tag-javascript" id="tag-javascript">
                    <label for="tag-javascript">javascript</label>

                    <input type="checkbox" name="tag-css" id="tag-css">
                    <label for="tag-css">css</label>

                    <input type="checkbox" name="tag-html" id="tag-html">
                    <label for="tag-html">html</label>
                </div>


                <label><a data-toggle="modal" data-target="#addTagModal" aria-hidden="true"><span class="glyphicon glyphicon-plus" ></span></a></label>
                <label><a id="delTags"><span class="glyphicon glyphicon-trash"></span></a></label>
            </div>


        </div>
        <div class="form-group">
            <label for="articleContent">内容</label>
            <textarea data-provide="markdown" class="form-control" rows="23" id="articleContent" name="articleContent" placeholder=" 文章内容" required></textarea>
        </div>
        <p class="text-center"></p>
        <div class="col-md-2 col-md-offset-8">
            <button type="button" class="btn btn-warning btn-block btn-cancle">取消</button>

        </div>
        <div class="col-md-2 ">
            <button type="submit" data-loading-text="提交中..." class="btn btn-success btn-block btn-submit" autocomplete="off">提交</button>

        </div>
    </form>
</div>



<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="addTagModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新建标签</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" name="tagName" id="tagNameInput" placeholder="新标签">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="addTag">新建</button>
            </div>
        </div>
    </div>
</div>