<div class="jumbotron banner">
  <h1>Hello, Web Demo!</h1>
  <p>一个多页架构</p>
  <button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>
<div class="test"></div>
</div>