
    <div class="admin-information">
      <div class="admin-pic animated flipInY"></div>
      <div class="admin-description">
        <h3><%=  blog.description %></h3>
        <div class="social">
							
								<a class="github" target="_blank" href="https://github.com/Hx2heng/" title="github">github</a>
					        
								<a class="weibo" target="_blank" href="http://weibo.com/justaboy/" title="weibo">weibo</a>
					        
						</div>
      </div>
      
    </div>
