<div class="panel panel-default">
  <div class="panel-heading">文档</div>
  <div class="panel-body">
    <ul class="list-group">
  <li class="list-group-item"><a href="/article/docs?content=usage">1.使用</a></li>
  <li class="list-group-item"><a href="/article/docs?content=babel-setting">2.babel-ES6设置</a></li>
  <li class="list-group-item"><a href="/article/docs?content=bs-wbpkm">3.browser-sync与webpack-dev-middleware</a></li>
  <li class="list-group-item"><a href="/article/docs?content=custom-bootstrap">4.自定义bootstrap</a></li>
  <li class="list-group-item"><a href="/article/docs?content=questions">5.一些问题&解决</a></li>
</ul>
  </div>
</div>