<%- include('layouts/header',{styles:['index']}) %>


    <div class="col-md-8 col-md-offset-2 content">
        <div class="jumbotron">
  <h1>404</h1>
  <p>页面被传送到异空间</p>
  
</div>
      
    </div>

<%- include('layouts/footer') %>

