<%- include('layouts/header',{styles:['admin']}) %>

   <div class="col-md-10 col-md-offset-1 content animated fadeInUp">
         <div class="col-md-8">
            
         </div>
         <div class="col-md-4">
           
         </div>
    </div>


<script src="/js/admin.bundle.js"></script>

