<%- include('layouts/header',{styles:['index']}) %>


    <div class="col-md-8 col-md-offset-2 content">
        <%- include('./components/article-list') %>
    </div>

<%- include('layouts/footer') %>
<script src="js/content.bundle.js"></script>

