<%- include('layouts/header',{styles:['content']}) %>


    <div class="col-md-8 col-md-offset-2 content animated slideInDown">
    <ol class="breadcrumb">
  <li><a href="/artList">文章列表</a></li>
  <li class="active">《<%- article.title %>》</li>
</ol>
   <%- include('./components/article',{article:article,isConcrete:true}) %>

    </div>
</div>
<%- include('layouts/footer') %>
<script src="/js/content.bundle.js"></script>

