<%- include('layouts/header',{styles:['content']}) %>
    <div class="col-md-8 col-md-offset-2 content animated slideInDown">
        <ol class="breadcrumb">
            <li><a href="#" onClick="javascript:history.back(-1);">返回</a></li>
            <li class="active">《
                <%- data.title %>》</li>
        </ol>
        <%- include('./components/'+type,{data:data}) %>
    </div>
    </div>
    <%- include('./components/scrollToTop') %>
        </div>
        </div>
        <script src="/js/content.bundle.js"></script>
        </body>

        </html>