<%- include('layouts/header',{styles:['index']}) %>


    <div class="col-md-8 col-md-offset-2 content">
        <%- include('./components/game-list') %>
    </div>
 <%- include('./components/scrollToTop') %>
<%- include('layouts/footer') %>
<script src="js/gameList.bundle.js"></script>

