<%- include('layouts/header',{styles:['index']}) %>


    <div class="col-md-8 col-md-offset-2">
        <div class="list-top">
            <p><span class="glyphicon glyphicon-knight" aria-hidden="true"></span> 全部游戏</p>
        </div>
        <%- include('./components/game-list') %>
    </div>
    <%- include('./components/scrollToTop') %>
        </div>
        </div>
        <script src="js/gameList.bundle.js"></script>
        </body>

        </html>