<%- include('layouts/header',{styles:[]}) %>

<div class="row">
    <div class="col-md-12">
        <img src="images/logo.png" alt="logo" class="img-circle">
        <button type="button" class="btn btn-danger">（危险）Danger</button>
    </div>
</div>


<%- include('layouts/footer') %>
<script src="js/index.bundle.js"></script>

