<%- include('layouts/header',{styles:['content']}) %>


    <div class="col-md-12 content ">
     <iframe id="toolIframe" src="<%- 'tool/'+data.url %>" scrolling="no" frameborder="0" width="100%"></iframe>

    </div>
</div>
 <%- include('./components/scrollToTop') %>
<%- include('layouts/footer') %>
<script src="/js/content.bundle.js"></script>

