//font
$ftLinght:#fff;
//border
$borderDirection:top !default;
//styleColor
$yellow:#ffc107;
$black:#1a1a1a;
$grey:#33363d;
$lgrey:#ccc;
$blue:#337ab7;
@mixin textShadow($color:black) {
    text-shadow: 1px 0px 1px $color;
}

@mixin boxShadow($color:$grey) {
    box-shadow: 0px 0px 5px $color;
}

@mixin border($color:$lgrey) {
    border: 1px solid $color;
}

html,
body {
    height: 100%;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: $black;
}

.main {
    padding-top: 50px;
    min-height: 100%;
    .content {
        padding: 0;
        height: 100%;
    }
    .row {
        height: 100%
    }
}

.nav li {
    position: relative
}

footer {
    width: 100%;
    height: 20px;
    background-color: #101010;
    margin-top: 40px;
}

a:hover {
    text-decoration: none
}


/*滚动条 start*/

 ::-webkit-scrollbar {
    width: 10px;
    height: 4px;
    background-color: $black;
}


/*定义滚动条轨道 内阴影+圆角*/

 ::-webkit-scrollbar-track {
    background: $black;
}


/*定义滑块 内阴影+圆角*/

 ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: $grey;
}

 ::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: $yellow;
}

//scroll-to-top
.scroll-to-top {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: fixed;
    bottom: 100px;
    right: 50px;
    background-color: $black;
    color: $yellow;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    opacity: .5;
    transition: opacity .5s ease;
    &:hover {
        opacity: 1;
    }
}