        @import './global.scss';
        @import './lib/animated.css';
        @import './lib/markdown/markdown.css';
        @import './components/banner.scss';
        @import './components/nav.scss';
        @import './components/footer.scss';
        @import './components/artListItem.scss';
        @import './components/tags.scss';
        .information {
            position: fixed;
            height: 100%;
            padding: 0 0 80px;
            background-color: $black;
            overflow-y: scroll;
            .game-list {
                .article-meta {
                    display: none;
                }
            }
            .admin-information {
                width: 100%;
                text-align: center;
                padding: 10px;
                margin: 10px 0 20px;
                margin-top: -10px;
                padding-top: 31px;
                background: #151515;
                border-radius: 10px;
                .admin-pic {
                    display: inline-block;
                    width: 150px;
                    height: 150px;
                    border-radius: 100%;
                    overflow: hidden;
                    background-image: url(../images/head.jpg);
                    background-size: cover;
                    background-position: center;
                    border: 4px solid $grey;
                    &:hover {
                        animation: pulse 1s ease;
                    }
                }
                .admin-description {
                    color: #8f8f8f
                }
            }
            .social {
                display: flex;
                margin-top: 10px;
                text-align: center;
                justify-content: center;
                a {
                    border-radius: 50%;
                    vertical-align: middle;
                    zoom: 1;
                    text-indent: -9999px;
                    margin: 0 8px 15px 8px;
                    opacity: 0.7;
                    width: 28px;
                    height: 28px;
                    transition: 0.3s;
                    &:hover {
                        animation: jello 1s ease;
                    }
                }
                .github {
                    background: url(../images/github.png) center no-repeat #464646;
                }
                .weibo {
                    background: url(../images/weibo.png) center no-repeat #ff6262;
                }
            }
        }
        
        @media (max-width: 992px) {
            .article-list {
                padding: 0;
            }
            .game-list {
                display: none
            }
            .information {
                position: static;
                padding-bottom: 0;
                overflow-y: visible;
                .admin-information {
                    .admin-pic {
                        width: 100px;
                        height: 100px;
                    }
                    .admin-description {
                        color: #8f8f8f;
                        h3 {
                            margin: 2px 0 10px;
                            font-size: 1.2em;
                        }
                    }
                }
            }
        }
        
        .list-top {
            display: block;
            padding: 10px 0 10px 20px;
            background-color: white;
            @include boxShadow();
            border-bottom: 1px solid #eee;
            p {
                margin: 0
            }
        }
        
        @media (min-width: 992px) {
            .information {
                border-right: 3px dashed #333333;
            }
        }