        @import './global.scss';
        @import './lib/animated.css';
        @import './lib/markdown/markdown.css';
        @import './components/banner.scss';
        @import './components/nav.scss';
        @import './components/artListItem.scss';
        @import './components/tags.scss';
        .information {
            position: fixed;
            height: 100%;
            padding-bottom: 80px;
            background-color: $black;
            overflow-y: scroll;
            .admin-information {
                width: 100%;
                text-align: center;
                padding: 10px;
                margin: 10px 0 20px;
                margin-top: -10px;
                padding-top: 31px;
                background: #151515;
                border-radius: 10px;
                .admin-pic {
                    display: inline-block;
                    width: 150px;
                    height: 150px;
                    border-radius: 100%;
                    overflow: hidden;
                    background-image: url(../images/head.jpg);
                    background-size: cover;
                    background-position: center;
                    border: 4px solid $grey
                }
                .admin-description {
                    color: #8f8f8f
                }
            }
        }
        
        @media (max-width: 992px) {
            .game-list {
                display: none
            }
            .information {
                position: static;
                padding-bottom: 0;
                .admin-information {
                    .admin-pic {
                        width: 100px;
                        height: 100px;
                    }
                    .admin-description {
                        color: #8f8f8f;
                        h3 {
                            margin: 2px 0 10px;
                            font-size: 1.2em;
                        }
                    }
                }
            }
        }
        
        .list-top {
            display: block;
            padding: 10px 0 10px 20px;
            background-color: white;
            @include boxShadow();
            p {
                margin: 0
            }
        }
        
        @media (min-width: 992px) {
            .information {
                border-right: 3px dotted #333333;
            }
        }