//sass style
//-----------------------------------
$fontStack: Helvetica,
sans-serif;
$primaryColor: #0a70f5;
body {
    font-family: $fontStack;
    color: $primaryColor;
    transform: translateX(20%)
}