.article {
    position: relative;
    @include boxShadow;
    background-color: #fff;
    -webkit-transition: all 0.2s ease-in;
}

.article-meta {
    width: 150px;
    font-size: 14;
    text-align: right;
    position: absolute;
    right: 0;
    top: 10px;
    text-align: center;
    z-index: 1;
    color: #aaa;
    font-size: 1em;
}

.article-inner {
    position: relative;
    margin-bottom: 10px;
}

.article-info {
    color: #aaa;
    margin: 0
}

.article-header {
    border-left: 6px solid $yellow;
    padding: 4px 0px 15px 25px;
    transition: all ease 0.3s;
    background-color: white
}

.article-header:hover {
    box-shadow: 0 2px 20px #808080;
    margin-bottom: 20px;
    transform: scale(1.01)
}

.article-title {
    color: #696969;
    margin-left: 0px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 20px;
    font-size: 26px;
    transition: color 0.3s;
}

.article-title:hover {
    color: $yellow;
    text-decoration: none;
}

.article-entry {
    line-height: 1.8em;
    padding-right: 30px;
    padding-left: 30px;
}

.article-info-index.article-info {
    padding-top: 10px;
    margin: 30px 30px 0 30px;
    border-top: 1px solid #ddd;
}

.article-tags {
    margin: 0;
    label {
        font-size: .5em;
        font-weight: normal;
        display: inline-block;
        background-color: #7b5cff;
        border-radius: 3px;
        color: white;
        padding: 1px 4px;
    }
}

//tags
label[data-type="javascript"] {
    background-color: #00d3ff;
}

label[data-type="css"] {
    background-color: #ffc107;
}

label[data-type="html"] {
    background-color: #ff6e6e;
}

label[data-type="game"] {
    background-color: #1b67ea;
}

//article-only-list
// .article-only-list {
//     box-shadow: none;
//     background-color: initial;
//     border-bottom: 1px solid #c7c7c7;
//     .article-inner {
//         margin-bottom: 0px;
//     }
//     .article-header:hover {
//         margin-bottom: 0px;
//         transform: scale(1.01);
//         border-color: #ff6e6e;
//     }
// }
.article-game {
    .article-header {
        border-color: #28d7ff;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position-x: 100%;
    }
}