<div class="col-md-12 animated slideInDown">
    <div class="col-md-5">
        <textarea id="tool-input" class="form-control" rows="25"></textarea>
    </div>
    <div class="col-md-2">

        <button id="tool-btn" type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span> 转换</button>
    </div>
    <div class="col-md-5">
        <textarea id="tool-output" class="form-control" rows="25"></textarea>
    </div>
</div>
<script src="../linkPage/js/jquery.js"></script>
<script src="../linkPage/js/tool-uglifyjs.js"></script>